<h1><%= @title || 'All Articles' %></h1>

<% if user_signed_in? %>
  <p>
    <%= link_to 'New Article', new_article_path, class: 'btn btn-primary' %> | 
    <%= link_to 'My Articles', my_articles_path, class: 'btn btn-info' %>
  </p>
<% end %>

<%= render partial: 'flash_messages' %>

<% if @articles.any? %>
  <div class="list-group">
    <% @articles.each do |article| %>
      <%= link_to article, class: 'list-group-item article' do %>
        <h4 class="list-group-item-heading"><%= article.title %></h4>
        <p class="list-group-item-text"><%= truncate(article.body, length: 35) %></p>
        <p><small>by <span class="author"><%= article.author_name %></span></small></p>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p>No Articles to display :(</p>
<% end %>
