<%= render partial: 'flash_messages' %>

<div class="page-header">
  <h1><%= @title || 'All Articles' %></h1>
</div>

<% if user_signed_in? %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= link_to 'New Article', new_article_path, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<% if @articles.any? %>
  <div class="list-group">
    <% @articles.each do |article| %>
      <%= link_to article, class: 'list-group-item article' do %>
        <h4 class="list-group-item-heading"><%= article.title %></h4>
        <p><small>by <span class="author"><%= article.author_name %></span></small></p>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p>No Articles to display :(</p>
<% end %>
